#form__container {
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    background-color: #262625;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#lobby__form {
    padding: 2em;
}

#form__container__header {
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
    background-color: #363739;
    margin: 0;
    font-size: 18px;
    /*font-size: 300;*/
    line-height: 0;
}

.form__field__wrapper {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form__field__wrapper label {
    font-size: 14px;
    line-height: 1.7em;
    margin-bottom: 10px;
    display: block;
}

.form__field__wrapper input {
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    margin: 0;
    border: none;
    border-radius: 5px;
    padding: 16px 20px;
    font-size: 15px;
    background-color: #3f434a;
}

.form__field__wrapper button
{
    margin-top: 32px;
    cursor: pointer;
    background-color: #845695;
    border: none;
    color: #fff;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 5px;
    gap: 10px;
}

.form__field__wrapper button svg {
    fill: #ede0e0;
    width: 20px;
}

.checkbox_wrapper {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.checkbox_wrapper input {
    margin-left: 15px;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label {
    margin-top: 25px;
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(40deg, #ff6ec4, #845695);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}

.file-name {
    position: absolute;
    margin-left: 175px;
    margin-top: -35px;
    font-size: 0.85rem;
    color: #2aca3e;
    overflow-x: auto;
}
