.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    background-color: #1a1a1a;
    text-decoration: none;
    padding: 16px 5%;
    z-index: 999;
}

.navbar a {
    text-decoration: none;
}

.nav--list {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 22px;
    font-weight: 700;
    line-height: 0;
    margin: 0;
    color: #ebe0e0;
}

.logo img {
    height: 42px;
}

@media (max-width: 640px) {
    .logo span {
        display: none;
    }
}

.nav__links {
    display: flex;
    align-items: center;
    column-gap: 2em;
}

@media (max-width: 520px) {
    .nav__links {
        column-gap: 3em;
    }
}

.nav__link {
    color: #fff;
    text-decoration: none;
    transition: 1s;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    padding-bottom: 1px;
}

.nav__link svg {
    width: 0;
    height: 0;
}

.nav__link:hover {
    color: rgb(230, 228, 228);
    text-decoration: none;
    border-color: #845695;
}

.nav__link:hover svg {
    fill: #845695;
}

@media (max-width: 640px) {
    .nav__link svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .nav__link {
        font-size: 0;
        border: none;
    }
}

.create__room__btn {
    display: block;
    background-color: #845695;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}

.create__room__btn:hover {
    background-color: #845695;
}

.popup_menu_item{
    display: flex;
    gap:5px;
}
/* style override with classes */
/* checkout component classes from chrome inspect */
.popup_menu_item > .MuiSvgIcon-root{
    color:red;
}
